[submodule "aws-eb-setup"]
	path = aws-eb-setup
	url = https://github.com/zircon-tech/aws-eb-setup.git
[submodule "cpp-development"]
	path = cpp-development
	url = https://github.com/zircon-tech/cpp-development
[submodule "reactjs-boilerplate"]
	path = reactjs-boilerplate
	url = https://github.com/zircon-tech/reactjs-boilerplate
[submodule "web3-wallet-connect"]
	path = web3-wallet-connect
	url = https://github.com/zircon-tech/web3-wallet-connect
[submodule "aws-ecs-setup"]
	path = aws-ecs-setup
	url = https://github.com/zircon-tech/aws-ecs-setup.git
[submodule "voting-dapp"]
	path = voting-dapp
	url = https://github.com/wolivera/voting-dapp.git
[submodule "asset-tokenization"]
	path = asset-tokenization
	url = https://github.com/zircon-tech/asset-tokenization
